<style>
ul.certificated{
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 24px;
  width: 100%;
}

ul.certificated li{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: 50%;
  padding: 12px 6px;
  border-bottom: 1px solid #E5E7EA;
}
ul.certificated li div div:first-child{
  font-weight: 500;
  color: #334650;
}
ul.certificated li div div:last-child{
  color: #334650;
}
ul.certificated li a{
  color: #334650;
  text-decoration: none;
}
</style>

<h1>Courses & Certificates</h1>
<ul class="certificated">
  <li>
    <img src="/assets/certificate.webp" />
    <div>
      <div>Docker</div>
      <div>Udemy</div>
    </div>
  </li>
  <li>
    <img src="/assets/certificate.webp" />
    <div>
      <div>Typescript</div>
      <div>Udemy</div>
    </div>
  </li>
  <li>
    <img src="/assets/certificate.webp" />
    <div>
      <div>NestJS</div>
      <div>Udemy</div>
    </div>
  </li>
  <li>
    <img src="/assets/certificate.webp" />
    <div>
      <div>Jenkins</div>
      <div>Udemy</div>
    </div>
  </li>
  <li>
    <img src="/assets/certificate.webp" />
    <div>
      <div>Angular</div>
      <div>Udemy</div>
    </div>
  </li>
  <li>
    <img src="/assets/certificate.webp" />
    <div>
      <div>React</div>
      <div>Udemy</div>
    </div>
  </li>
  <li>
    <img src="/assets/certificate.webp" />
    <div>
      <div>AWS</div>
      <div>Udemy</div>
    </div>
  </li>
  <li>
    <img src="/assets/certificate.webp" />
    <div>
      <div>Vue.js</div>
      <div>Udemy</div>
    </div>
  </li>
  <li style="border-bottom: none;">
    <img src="/assets/certificate.webp" />
    <div>
      <div>SQL</div>
      <div>Udemy</div>
    </div>
  </li>
  <li style="border-bottom: none;">
    <img src="/assets/certificate.webp" />
    <div>
      <div>GraphQL</div>
      <div>Udemy</div>
    </div>
  </li>
</ul>