<style>
ul.education{
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 24px;
  width: 100%;
}

ul.education li{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px 6px;
}
ul.education li div div:first-child{
  font-weight: 500;
  color: #334650;
}
ul.education li div div:last-child{
  color: #334650;
}
</style>

<h1>Education</h1>
<ul class="education">
  <li>
    <img src="/assets/university.webp" />
    <div>
      <div>Bachelor's Degree in Informatics</div>
      <div>University of Aurel Vlaicu</div>
    </div>
  </li>
</ul>