<a class="button" href="/assets/Rafael_Stepan_-_Software_Engineer.pdf" download>Export as PDF</a>

<!-- <ul class="technologies" style="margin-top: 12px;">
  <li data-text="Angular"><img src="/assets/icons/angular.png"/></li>
  <li><img src="/assets/icons/ts.png"/></li>
  <li><img src="/assets/icons/js.png"/></li>
  <li><img src="/assets/icons/rxjs.png"/></li>
  <li><img src="/assets/icons/ngrx.png"/></li>
  <li><img src="/assets/icons/html.png"/></li>
  <li><img src="/assets/icons/css.png"/></li>
  <li><img src="/assets/icons/nodejs.png"/></li>
  <li><img src="/assets/icons/express.png"/></li>
  <li><img src="/assets/icons/socketio.png"/></li>
  <li><img src="/assets/icons/redis.png"/></li>
  <li><img src="/assets/icons/tailwind.png"/></li>
  <li><img src="/assets/icons/mysql.png"/></li>
  <li><img src="/assets/icons/jenkins.png"/></li>
  <li><img src="/assets/icons/git.png"/></li>
  <li><img src="/assets/icons/docker.png"/></li>
  <li><img src="/assets/icons/d3.png"/></li>
  <li><img src="/assets/icons/figma.png"/></li>
  <li><img src="/assets/icons/nginx.png"/></li>
  <li><img src="/assets/icons/photoshop.png"/></li>
  <li><img src="/assets/icons/visualstudio.png"/></li>
  <li><img src="/assets/icons/bootstrap.png"/></li>
  <li><img src="/assets/icons/php.png"/></li>
</ul> -->